:root{
    --live-indicator-shadow: #eb5656;
    --rich-black-fogra-30: #111722;
    --rich-black-fogra-29: #131720;
    --live-indicator: #eb5656;
    --oxford-blue-50:#1620327a;
    --oxford-blue: #162032;
    --light-azure: #3182ed;
    --off-white: #e0e0e0;
    --yellow: #ffc414;
    --white: #FFF;
    --azure: #007bff;
    --ff-inter: "Inter", sans-serif;
}